
body {
    text-align: center;
    background-color: antiquewhite;
}

.title {
    font-family: 'Courier New', Courier, monospace;
}

body form {
    margin: 0 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    max-width: 100px;
    margin-bottom: 1em;
}
