<div class="container p-2" style="background-color: #eceef1;">
  <h2>USER SIGNUP FAILED</h2>
  <a href="/signup" class="text-decoration-none mb-3 btn btn-outline-dark">
    Volver al SignUp</a>
</div>