<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body class="container" style="padding-top: 50px; margin-bottom:5em;">
    <header>
        <nav class="title" class="navbar navbar-expand-lg navbar-light bg-light">
            <h2>
                Agregar productos 
            </h2>        
        </nav>
    </header>
    <form class="container formulario" onsubmit="addProduct(this)">
        <label for="name" style="font-weight: bold;"> Nombre del Producto </label>
        <input id="name" name="nombre" class="form-control input" type="text" placeholder="Ej. Heladera" aria-label="default input example">
        <label for="price" style="font-weight: bold;"> Precio </label>
        <input id="price" name="precio" class="form-control input" type="text" placeholder="Ej. $10000" aria-label="default input example">
        <label for="urlimage" style="font-weight: bold;"> Url Imagen </label>
        <input id="urlimage" name="urlimagen" class="form-control input" type="text" placeholder="Https://imagenes.com/imagenes/1" aria-label="default input example">
        <button type="submit" class="btn btn-dark" style="margin-top: 10px;"> Agregar </button> 
    </form>
    <div class="container">
        {{{body}}}
        <div class="title">
            <h1>
                Chat con el Local
            </h1>
        </div>

        <form class="formulario" onsubmit="addMessage(this)">
            <label for="username" style="font-weight: bold;"> Email</label>
            <input id="username" class="form-control input" type="text" placeholder="email@email.com" aria-label="default input example">
            <label for="texto" style="font-weight: bold;"> Mensaje </label>
            <input id="texto" name="precio" class="form-control input" type="text" placeholder="Tu mensaje" aria-label="default input example">
            <button type="submit" class="btn btn-dark" style="margin-top: 10px;"> Enviar </button> 
        </form>

        <div id="messages" >

        </div>
   </div>

</body>
<footer>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./main.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

</footer>
</html>